<div class="container-fluid">
  <%= link_to 'Recevoir un email', emails_path, method: :post, remote: true, class: 'btn btn-success mb-2' %>
</div>

<div class="container-fluid row">
  <div class="container col-md-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <td scope="col">#</td>
          <td scope="col">Liste des emails</td>
          <%# <td scope="col">Email sélectionné</th> %>
        </tr>
      </thead>
      <tbody id="list_mails">
        
        <%# Liste des objets des mails %>
        <% @emails.each do |mail| %>
          <% @newmail = mail %>
          <%= render 'newmail'%>
        <% end %>

      </tbody>
    </table>
  </div>

  <div class="container col-md-8 border">
    <h3>Email sélectionné</h3>
    <div id="mail_selected" class="container-fluid">
    
    </div>
  </div>
</div>


